name: Generate and Deploy Documentation

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  docs:
    name: Generate API Documentation
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'
      
      - name: Prepare repo
        run: |
          git fetch origin
          git checkout gh-pages
          git reset --hard master
      
      - name: Run html generation
        run: |
          npm ci
          npm run build
          npm run docs
      
      - name: Push changes
        run: |
          git add docs
          git commit -m "update gh-pages"
          git push -f

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}